@use '../../Sass/variable';
@use '../../Sass/mixin';

.formContainer{
  color: variable.$second-color;
  width: 560px;

  margin: auto;
  margin-top: 50px;  
  @media(max-width:650px){
    width: 100%;
  }

  .formTitle{
    // @mixin font($size, $weight)
    @include mixin.font(24px, 200 );

    background-color: variable.$third-color;
    padding: 2px;
    border-radius: variable.$form-radius;
  }

  form{
    display: flex;
    flex-direction: column;
  
    .formDetails{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;
      @media(max-width:650px){
        flex-direction: column;
      }

      .formNameContainer{
        display: flex;
        flex-direction: column;
        width: 45%;
        @media(max-width:650px){
          width: 100%;
        }
        .formName{
          border-radius: variable.$form-radius;
          border: 1px solid variable.$second-color;
          box-sizing: border-box;
          height: 30px;

          // @mixin font($size, $weight)
          @include mixin.font(18px, 300 );
        }
        .formName:focus{
          @include mixin.border;
        }
      }
      
      .formEmailContainer{
        display: flex;
        flex-direction: column;
        width: 45%;
        @media(max-width:650px){
          width: 100%;
        }
        .formEmail{
          border-radius: variable.$form-radius;
          border: 1px solid variable.$second-color;
          box-sizing: border-box;
          height: 30px;
          
          // @mixin font($size, $weight)
          @include mixin.font(18px, 300 );
        }
        .formEmail:focus{
          @include mixin.border;
        }
      }
    }
    .formText{
      width: 560px;
      height: 200px;
      margin-bottom: 20px;
      border-radius: variable.$form-radius;
      border: 1px solid variable.$second-color;
      box-sizing: border-box;

      // @mixin font($size, $weight)
      @include mixin.font(18px, 300 );

      @media(max-width:650px){
        width: 100%;
      }
    }
    .formText:focus{
      @include mixin.border;
    }

    .formMessage{
      margin: auto;
      margin-bottom: 20px;
      color: variable.$main-color;
      
    }
    .formCaptcha{
      margin: auto;
      
    }

    .formSubmit{
      width: 100px;
      margin: auto;
      margin-top: 20px;
      border: thick double variable.$main-color;
      border-radius: variable.$form-radius;
      cursor: pointer; 

      // @mixin font($size, $weight)
      @include mixin.font(20px, 300 );
    }
    .formSubmit:hover{
      @include mixin.hover;
    }
  }
}




