@use './variable';
 

// HOVER
@mixin hover{
  opacity: 70%;
  color: variable.$main-color;
}

// FONT 
@mixin font($size, $weight){
  font-family: 'Oswald', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

//  BORDER
@mixin border{
  border: 1px solid variable.$main-color;
  outline: none;
}