// COLORS
// Main colors 
  $main-color:#ff4000;
  //  variable.$main-color

  $second-color: #362624;
  //  variable.$second-color

  $third-color: #ffdb4d;
  // variable.$third-color

//other colors
  $other-first-color:#EAEFF2;
  //  variable.$other-first-color  

  $other-second-color:#7451eb;
  // variable.$other-second-color

// -------------------------------------
// Form border radius
  $form-radius:3px;
  //  variable.$form-radius


