@use '../../Sass/variable';
@use '../../Sass/mixin';

.introContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  @media (max-width:1024px){
    margin-top: 90px;
    
  }

  @media (max-width:650px){
    margin-top: 10px;
  }

}

