@use '../../Sass/variable';
@use '../../Sass/mixin';

.navContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;

  @media (max-width: 650px){
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
  }
  
  .navContainer--name{
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 0;
    //  font($size, $weight)
    @include mixin.font(25px, 300);

    color: variable.$second-color;

    @media (max-width: 650px){
      @include mixin.font(20px, 300);
      margin-left: 10px;
    }
    
  }
  .linksContainer{
    margin-right: 90px;
    @media (max-width: 650px){
      margin-top: 20px;
      margin-left: 10px;
    }

    #link{
      margin-left: 40px;
      text-decoration: none;
      padding: 0 5px 1px 5px;
      color: variable.$second-color;

      //  font($size, $weight)
      @include mixin.font(20px, 300);

      @media (max-width: 650px){
        margin-left: 0;
        margin-right: 10px;
        @include mixin.font(18px, 300);
      }

    }
    #link:hover{
      @include mixin.hover;
    }
  }
}

.active{
  border-bottom: 2px solid variable.$main-color;
}