@use '../../Sass/variable';
@use '../../Sass/mixin';
 
.project{
  margin-left: 30px;
  margin-right: 30px;
  @media(max-width:650px){
    margin-left: 10px;
    margin-right: 10px;
  }

  .projectTitle{
    margin-top: 50px;
    font-weight: 400;
    border-top: 1px solid variable.$second-color;
    
    @media(max-width: 1024px){
      margin-top: 20px;
    }
  }

  .projectContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    @media(max-width: 1024px){
      flex-direction: column;
    }
  }

  .projectInfo{
    font-weight: 200;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media(max-width: 1024px){
      width: 100%;
    }

    .projectList{
      list-style-type: circle;
      margin-bottom: 40px;
      font-size:22px ;
      @media(max-width: 1024px){
        margin-top: 0;
      }

      li::marker{
        color: variable.$main-color;
      }
    }

    .projectMission{
      margin-top: 15px;
      font-size: 24px;
      @media(max-width: 650px){
        font-size: 20px;
      }
    }

    .focus{
      background-color: variable.$third-color; 
      padding: 2px 5px; 
      border-radius: 3px;
      margin: 0;
      font-size: 20px;
      word-spacing: 15px;
    }
  }

  .projectImageContainer{
    display: flex;
    @media(max-width: 1024px){
      margin: auto;
      margin-top: 30px;
    }
    @media(max-width:650px){
      flex-direction: column;
    }
    .projectImage{
      max-width: 400px;
      max-height: 400px;
      box-sizing: border-box;
      object-fit: contain;
      margin-left: 20px;
      border: 1px solid variable.$second-color;
      box-shadow: 5px 5px 15px 0px variable.$second-color  ;
      @media(max-width:650px){
        margin-bottom: 20px;
        max-width: 300px;
        margin-left: 0;
      }

      @media(max-width:374px){
        margin-bottom: 20px;
        max-width: 250px;
        margin-left: 0;
      }
    }
  }

  .projectToolsContainer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 60px;
    @media(max-width: 1024px){
      margin-top: 30px;
      margin-bottom: 30px;      
    }

    @media (max-width:650px){
      display: block;
    }
  
    .projectTools{
      display: flex;
      flex-direction: column;

      @media(max-width:650px){
        margin-bottom: 10px;
      }
      
      .projectWork{
        //  font($size, $weight)
        @include mixin.font(24px, 300);
        margin: 0;
      }
    }

    .projectDate{
      margin: 0;
      color: variable.$second-color;
      //  font($size, $weight)
      @include mixin.font(18px, 300);

      @media(max-width:650px){
        margin-bottom: 10px;
      }
    }

    .projectLink{
      color: variable.$second-color;
      text-decoration: none;
      border-bottom: 2px solid variable.$main-color;
      @include mixin.font(18px,300);

      @media(max-width:650px){
        margin-bottom: 20px;
      }
    }
    .projectLink:hover{
      @include mixin.hover;
    }

    .projectArrow{
      @media(max-width:650px){
        display: flex;
        flex-direction: row;
         justify-content: space-between;
      }
      .arrow{
        font-size: 24px;
        border-radius: 50%;
        border: 2px solid variable.$main-color;
        padding: 5px 12px;
        margin-left: 10px;
        cursor: pointer;
        color: variable.$second-color ;
        @media(max-width:650px){
          margin-top: 20px;
          
        }
      }

      .arrow:hover{
        @include mixin.hover;
      }
    }
  }

}











